!.gitignore
!README.md

# Ignore Everything 
# See: https://stackoverflow.com/a/14422549/2391876
/*
!/attachments
/attachments/*

# Make Public
!/attachments/height-map-displacement-with-satellite-imagery
!height-map-displacement-with-satellite-imagery.md

!/attachments/understanding-pbr-materials
!understanding-pbr-materials.md

!/attachments/lsystems
!lsystems.md

!/attachments/lsystems_part2
!lsystems_part2.md

!/blender_uploads
!/blender_uploads/*

!index.html
!/portfolio.html
!/attachments/portfolio
!/css


!music.md


# Except
