!.gitignore
!README.md

# Ignore Everything 
# See: https://stackoverflow.com/a/14422549/2391876
/*
!/attachments
/attachments/*

# Make Public
!/attachments/height-map-displacement-with-satellite-imagery
!height-map-displacement-with-satellite-imagery.md

# Except
